@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TopRock</h1>
    <h2>The biggest climbing gym in Mississauga</h2>
    <p>In this online shop, you'll find all the services you need in our climbing gym.</p>
</div>
